<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <title>srus // Simple Ruby URL Shortener</title>
  </head>
  <body>
    <h1>srus</h1>
    
    <%= yield %>
    
  </body>
</html>